$text-color: #29272e;
$text-secondary: #707070;
$bg-color: #ffffff;
$bg-color-dark: #2B2930;

$color1: #18797A;
$color2: #DC5E41;
$color3: #2B347A;
$color4: #A5AEAE;
$color5: #FF8428;
$color6: #E0AF6C;
$color7: #55B4D7;

body {
	background-color: $bg-color;
	color: $text-color;
}
