// Hero pattern grid
.shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-gap: 24px;

  @include mq($widescreen) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
  @include mq($desktop) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
  @include mq($tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  @include mq($mobile) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.shapes div {
  position:  relative;
  padding-top: 100%;
}
.shapes div > span {
  background-color: #1F1E21;
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  transform: rotate(0deg);

  transition: background-color 5s;
}

.shapes div:nth-child(2n+1) > span,
.shapes div:nth-child(3n+2) > span,
.shapes div:nth-child(5n+3) > span,
.shapes div:nth-child(7n+5) > span,
.shapes div:nth-child(11n+7) {
 	border-radius: 50%;
  width: 100%;
  left: 0;
}
.shapes div:nth-child(2n+2) > span { transform: rotate(24deg); }
.shapes div:nth-child(3n+4) > span { transform: rotate(60deg); }
.shapes div:nth-child(5n+1) > span { transform: rotate(120deg); }
.shapes div:nth-child(7n+2) > span { transform: rotate(180deg); }
.shapes div:nth-child(11n+1) > span { transform: rotate(240deg); }
.shapes div:nth-child(11n+5) > span { transform: rotate(48deg); }


.shapes div:hover > span {
  background-color: $color1;
  transition: background-color 0s;
}
.shapes div:nth-child(2n+2):hover > span { background-color: $color2; }
.shapes div:nth-child(3n+4):hover > span { background-color: $color3; }
.shapes div:nth-child(5n+1):hover > span { background-color: $color4; }
.shapes div:nth-child(7n+2):hover > span { background-color: $color5; }
.shapes div:nth-child(11n+1):hover > span { background-color: $color6; }
.shapes div:nth-child(11n+5):hover > span { background-color: $color7; }





// What we do icons
.icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;

  width: 140px;
  margin-bottom: $spacer-lg;
}
.icon div {
  position:  relative;
  padding-top: 100%;

  & > span {
    background-color: #1F1E21;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    transform: rotate(0deg);

    transition: background-color 2s;
  }
}
.zero .icon {
  div:nth-child(1) span,
  div:nth-child(4) span,
  div:nth-child(7) span,
  div:nth-child(9) span {
    left: 0;
    width: 100%;
    border-radius: 50%;
  }
  div:nth-child(1) span { background-color: #E1D082; }
  div:nth-child(2) span,
  div:nth-child(3) span,
  div:nth-child(4) span {
    background-color: #DF9D59;
  }
  div:nth-child(5) span,
  div:nth-child(6) span,
  div:nth-child(7) span {
    background-color: #E36835;
  }
  div:nth-child(8) span,
  div:nth-child(9) span {
    background-color: #C73327;
  }
  div:nth-child(2) span { transform:rotate(135deg) !important; }
  div:nth-child(3) span { transform:rotate(75deg) !important; }
  div:nth-child(5) span { transform:rotate(330deg) !important; }
  div:nth-child(6) span { transform:rotate(90deg) !important; }
  div:nth-child(6) span { transform:rotate(30deg) !important; }
}

.zeroone .icon {
  div > span {
    background-color: $color5;
  }
  div:nth-child(7) span,
  div:nth-child(8) span,
  div:nth-child(9) span {
    left: 0;
    width: 100%;
    border-radius: 50%;
  }
  div:nth-child(1) span,
  div:nth-child(2) span {
    background-color: #A5AEAE;
  }
  div:nth-child(3) span,
  div:nth-child(4) span,
  div:nth-child(5) span {
    background-color: #55B4D7;
  }
  div:nth-child(6) span,
  div:nth-child(7) span {
    background-color: #18797A;
  }
  div:nth-child(8) span,
  div:nth-child(9) span {
    background-color: #2B347A ;
  }
}

.onezero .icon {
  div > span {
    background-color: $color5;
  }
  div:nth-child(1) span,
  div:nth-child(2) span,
  div:nth-child(3) span {
    left: 0;
    width: 100%;
    border-radius: 50%;
  }
  div:nth-child(1) span,
  div:nth-child(2) span,
  div:nth-child(4) span {
    background-color: #E7AE68;
  }
  div:nth-child(3) span,
  div:nth-child(5) span,
  div:nth-child(7) span,
  div:nth-child(8) span {
    background-color: #F58C77;
  }
  div:nth-child(6) span,
  div:nth-child(9) span {
    background-color: #FF7D19;
  }
}
