// Spacing
$spacer-base: 8px;
$spacer-sm: $spacer-base*2; // 16px
$spacer-md: $spacer-base*4; // 32px
$spacer-lg: $spacer-base*6; // 48px
$spacer-xl: $spacer-base*12; // 96px
$spacer-xxl: $spacer-base*15; // 120px
