@import "reset";
@import "bootstrap-grid";
@import "mediaqueries";
@import "spacing";
@import "color";
@import "typography";
@import "shapes";



a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid black;

  &:hover {
    border-color: $color2;
  }
  &.logo {
    border-bottom: none;
  }
}

header {
  height: 140px;
  width: 100%;
	margin-left: auto;
	margin-right: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
	align-items: start;

  padding: 48px 48px 0 48px;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;

  &.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

}

.wrapper {
	width: 1400px;
  max-width: 100%;
	padding-left: 48px;
  padding-right: 48px;
	margin-left: auto;
	margin-right: auto;
  @include mq($widescreen) {
		width: 100%; // 1200px + 48px padding
	}

  .container:not(:first-child) {
    margin-top: $spacer-xl;
  }
}

.sidebar {
  h3 { margin: 0; }
  h3 + ul { margin-top: $spacer-sm; }
  li {
      font-size: $small-size;
  }
  li:not(:first-child) {
      margin-top: $spacer-base/2;
  }
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;

  .intro {
    margin-bottom: 120px;

    h1 {
      margin-bottom: 40px;
    }
  }
}
