@import "reset";
@import "grid";
@import "mediaqueries";
@import "spacing";
@import "color";
@import "typography";
@import "shapes";

body {
  transition: background-color 1s;
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  transition: border .2s ease;

  &:hover {
    border-color: transparent;
  }
  &.logo {
    border-bottom: none;
  }
}
.logo path,
.logotype {
  fill: $text-color;
}
footer .logotype {
  fill: #fff;
}

header {
  height: 140px;
  width: 100%;
	margin-left: auto;
	margin-right: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
	align-items: start;

  padding: $spacer-lg $spacer-lg 0 $spacer-lg;
  @include mq($tablet) {
    padding-left: 24px;
    padding-right: 24px;
	}
}


@keyframes fade-in {
    from {opacity: 0; transform: translateY(8px); }
    to {opacity: 1; transform: translateY(0px); }
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}



section {
  padding-top: $spacer-xxl;
  padding-bottom: $spacer-xxl;

  &.large {
    padding-top: $spacer-xxl*2;
    padding-bottom: $spacer-xxl*2;
  }

  &.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}
#section2 {
  h2 {
    text-align: center;
    margin-bottom: 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  padding-top: $spacer-xl*2;
  padding-bottom: $spacer-lg;
  color: #fff;
  font-size: 18px;
  margin-top: $spacer-xxl;
  @include mq($tablet) {
    font-size: 14px;
	}
  .footer_bottom {
    margin-top: $spacer-xxl;
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
  	align-items: flex-end;
  }
  .footer_head {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
  }

  a {
    color: #fff;
    border-color: #fff;
  }
  h3 {
    font-size: 32px;
    margin-bottom: $spacer-lg;
  }
  .contact {
    margin-bottom: $spacer-xl;
  }
  .footer_contact {
    margin-right: $spacer-lg;
  }
}

.wrapper {
	width: 1400px;
  max-width: 100%;
	padding-left: $spacer-lg;
  padding-right: $spacer-lg;
	margin-left: auto;
	margin-right: auto;
  @include mq($widescreen) {
		width: 100%; // 1200px + 48px padding
	}
  @include mq($tablet) {
    padding-left: 24px;
    padding-right: 24px;
	}

  .container:not(:first-child) {
    margin-top: $spacer-xxl;
  }
}

.sidebar {
  margin-top: $spacer-lg;
  h3 { margin: 0; }
  h3 + ul { margin-top: $spacer-sm; }
  li {
      font-size: $small-size;
  }
  li:not(:first-child) {
      margin-top: $spacer-base/2;
  }
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;

  .intro {
    margin-bottom: 120px;
    text-align: center;

    h1 {
      margin-bottom: 40px;
    }
  }
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  max-width: 500px;

  @include mq(722px) {
    max-width: 100%;
	}

  &+.person {
    margin-top: $spacer-lg;
  }

  .person_portrait {
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 110px;
    height: 110px;
    margin-left: $spacer-md;
    @include mq($tablet) {
      width: 80px;
      height: 80px;
  	}
  }
  &.iris .person_portrait {
    background-image: url("img/Anti_Iris.jpg");
  }
  &.annkristin .person_portrait {
    background-image: url("img/Anti_AnnKristin.jpg");
  }
}

.whatwedo {
  .row + .row {
    margin-top: 220px;
  }
}
